body{
	
	color: #fff;
	font-family:Mustard Med;
	font-size: large;
	line-height: 1.5em;
}
a{
	font-weight: bold;
	color: black;
	text-decoration: none;
}
ul{
	padding: 0;
}
.clr{
	clear: both;
}
#container{
	background:rgba(rgb(117, 30, 30,0.4));
	width: 100%;
	margin: 30px auto;
	overflow:hidden;
	padding:10px;
}
#header img{
	object-fit: cover;
	margin: 5px;
	padding: 0;
	align-content: center;
}
#nav{
	
	height:60px;
	background: rgba(60,60,60,0.5);
}
#nav ul{
	padding-top: 13px;
	padding-left: 10px;
}
#nav li{
	align-content: center;
	font-size: larger;
	list-style: none;
	float: left;
	padding-right: 20px;
	padding-left: 50px;
}
#nav .active{
	font-weight: bold;
	color: whitesmoke;
}
#main p{
	padding-left: auto;
	margin: 10px;
	padding: 8px;
	align-content:center;
}
#main .index{
	
	height: auto;
	padding-right: 5px;
	width: 100%;
}
#main{
	float: right;
	width: 100%;
}

#sidebar{
	float: right;
	width: 30%;
	background: #666;
	margin-top: 20px;
	padding: 10px;
}
#footer{
	text-align: center;
	padding-top: 10px;
	background: #666;
	margin-top:30px;
}
.services a{
	color: white;
	background:#666;
	padding: 10px;
}
.services li{
	border-bottom: 2px #666 dashed;
	padding-bottom: 20px;
}
input ,textarea{
	width: 100%;
	padding: 5px;
	margin-bottom:15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
	max-width: fit-content;
	align-items: flex-end;
	width: 250px;
	height: 250px;
  margin-top: 8px;
  vertical-align: middle;
}
@media screen and (max-width: 800px) {
	.left, .main, .right {
		 width: 100%; 
	}
	 
}
.contact a{
	
	color: #fff;
}
.contact a button{
	font-size: large;
	font-weight: bold;
	width:100%;
	height: 100%;
	background-color:silver;
	margin-left: 5px;

}
.container1{
	padding-left: 20px;
	position: relative;
	display: inline-block;
	justify-content:center;
	align-items: center;
	width: 90%;
	height: 90%;
	/*padding: 20px 100px 20px 20px;*/
}
.image-grid{
    --gap:14px;
    --num-cols:4;
	
    --row-height:300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols),1fr);
    grid-auto-rows: var(--num-height);
    gap: var(--gap);
}
.image-grid > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-grid-col-2{
    grid-column: span 4;
}
.image-grid-row-2{
    grid-row: span 4;
}

@media screen and (max-width:1024px) {
   .image-grid{
     --num-cols:2;
     --row-height:200px;
   }
   
}
div .inline{
	display: inline-block;
	padding-left: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
}
div .inline button{
	border-style: none;
	font-weight: bolder;
	background-color: #E1E1E1;
}

